:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --slate: #434455;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-lignt-accent {
  color: var(--cloud);
}

.logo-dark-accent {
  color: var(--navyblue);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--ocean);
}

.address-style {
  font-style: normal;
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.address-item:hover,
.address-item:focus {
  color: var(--ocean);
}

.hiden-element {
  visibility: hidden;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
  color: var(--white);
  cursor: pointer;
}

.portfolio-item-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.portfolio-item-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.page-footer {
  background-color: var(--navyblue);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.main-section {
  background-color: var(--navyblue);
}

.main-heading {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.blue-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
}

.blue-button:hover,
.blue-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

.section-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.capitalize {
  text-transform: capitalize;
}

.section-item-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.section-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.bgr-white {
  background-color: var(--white);
}

.section-fone {
  background-color: var(--cloud);
}
